body {
    font-family: 'Quattrocento Sans', sans-serif;
}
label {
    font-weight: bold;
}
.formulario {
    background-color:#d1d1d1;
    border-radius: 5px;
    border-color: #b6b6b6;
    font-size: 18px;
}
.inputs {
    border-color: #65a1d7;
}
.botonBase {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    background-color: #70ad47;
    border-color: #548334;
    border-radius: 7px;
}
.agregar {
    width: 110px;
}
.busqueda {
    padding: 10px 0 10px 0;
}
#map {
    height: 300px;
    width: 100%;
}